@import "tailwindcss";
@layer utilities {
  .btn_dark_blue {
    @apply bg-[#0a2540] text-white;
  }
  .btn_light_cyan {
    @apply bg-[#38bdf8] text-slate-900;
  }
  .btn_white {
    @apply bg-white text-[#0a2540];
  }

  .fade-in-up {
    animation-name: fadeInUp;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
